<div>
    <a href="{% url 'create-room' %}">Create Room</a>

    <h3>{{room_count}} rooms available </h3>

    <div>
        {% for room in rooms %}
        <div>
            <a href="{% url 'update-room' room.id %}">Edit Room</a>

            <a href="{% url 'delete-room' room.id %}">Delete Room</a>

            <a href="{% url 'user-profile' room.host.id %}">@{{room.host.username}}</a>
            <h5> {{room.id}} -- <a href="/room/{{room.id}}">{{room.name}}</a>
            </h5>

            <small>{{room.topic.name}}</small>

            <hr>
        </div>

        {% endfor %}
    </div>
</div>