{% extends 'main.html' %} {% block content %}

<h1>{{room.name}}</h1>

<p>{{room.description}}</p>

<div class="comment-warapper">
  <h3>Conversation</h3>

  {% for message in room_messages %}

  <div>
    <p>{{message.body}}</p>
    <small> @{{message.user}} </small>
    <small> {{message.created | timesince}} ago </small>
  </div>
  {% endfor %}
  <hr />
</div>

{% if request.user.is_authenticated %}
<div class="add-comments">
  <form method="POST" action="">
    {% csrf_token %} 

    <input type="text" name="body" placeholder="Reply to the thread....">
</form>
</div>
{% endif %}
{% endblock %}
